@import './common/variables';
@import './common/mixins';

.about__banner {
  position: relative;
  z-index: -1;
  @include responsive(min768) {
    // height: 550px;
  }
  /* img {
    // height: 100%;
    // object-fit: cover;
    // object-position: center bottom;
  } */
}

.aboutSection {
  padding: var(--common-space) 0;
  @include responsive(min992) {
    padding: var(--common-space-xl) 0;
  }
  .aboutLeft {
    margin-bottom: 3rem;
    position: relative;
    display: flex;
    align-items: center;
    &::before,
    &::after {
      height: 150px;
      width: 150px;
      content: '';
    }
    &::before {
      background-color: rgba($primary, 0.05);
      position: relative;
      z-index: -2;
    }
    &::after {
      border: 3px solid rgba($primary, 0.4);
      position: absolute;
      z-index: -1;
      top: 1rem;
      left: 1rem;
    }
    &__heading {
      text-transform: uppercase;
      margin-left: -7rem;
    }
  }
  .textComponent {
    > * {
      margin-bottom: 1.5rem;
    }
    ul {
      margin-left: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
      list-style: disc;
    }
  }
  .aboutRight {
    margin-bottom: var(--common-space);
    @include responsive-min(lg) {
      margin-bottom: var(--common-space-xl);
    }
    text-align: justify;
    h3,
    h4,
    h5 {
      margin-bottom: 0.5rem;
    }
  }

  .others {
    display: flex;
    flex-wrap: wrap;
    gap: var(--common-space);
    @include responsive(min768) {
      // flex-wrap: nowrap;
      // flex-wrap: nowrap;
    }
    &List {
      background-color: rgba($primary, 0.05);
      padding: var(--common-space);
      border: 1px solid rgba($primary, 0.4);
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      border-radius: 0.5rem;
      flex: 1 0 calc(25% - (var(--common-space)));
      .count {
        display: flex;
        justify-content: space-between;
        column-gap: 0.5rem;
        @include responsive(min640) {
          height: 80px;
        }
        width: 100%;
        :global {
          .h1 {
            line-height: 1;
            font-weight: var(--font-bold);
            color: $primary;
            // margin-bottom: 1.5rem;
          }
          small {
            // font-weight: 600;
            display: block;
            font-size: var(--font-smaller);
            line-height: 1.5;
          }
        }
      }
    }
    &-text {
      // margin-top: 1.5rem;
      // flex: 1 1 100%;
      align-self: flex-start;
    }
  }
}

.teamContent {
  text-align: center;
  padding: var(--common-space) 0;
  @include responsive(min992) {
    padding: var(--common-space-xl) 0;
  }
  .teams {
    margin-top: 2rem;
    @include responsive(min992) {
      margin-left: 1rem;
      margin-right: 1rem;
    }
    .imgBg {
      background-color: rgba($primary, 0.1);
      border-radius: 0.5rem 0.5rem 0 0;
      padding-top: 1.5rem;
    }
    figcaption {
      padding: 1rem;
      text-align: center;
      h4 {
        margin-bottom: 0;
      }
    }
  }
}

.process {
  padding: var(--common-space) 0;
  @include responsive(min992) {
    padding: calc(3 * var(--common-space-xl)) 0;
  }
  h3 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .h5 {
    display: inline-block;
    border-bottom: 2px solid rgba($primary, 0.3);
    // border: red solid 1px;
    margin-bottom: 1rem;
  }
  .h5 {
    display: inline-block;
    border-bottom: 2px solid rgba($primary, 0.3);
    // border: red solid 1px;
  }
  .process__sub {
    margin-top: 1.5rem;
    border: rgba($primary, 0.3) solid 1px;
    padding: var(--common-space);
    min-height: 180px;
    border-radius: var(--bs-border-radius);
    p {
      color: var(--bs-gray-700);
      margin-bottom: 0;
    }
    p {
      color: var(--bs-gray-700);
      margin-bottom: 0;
    }
  }
}

.award {
  background-color: rgba($primary, 0.03);
  padding: var(--common-space-xl) 0;
  @include responsive(min992) {
    padding: var(--common-space-xl) 0;
  }
  position: relative;
  text-align: center;
  .leaves {
    position: absolute;
    top: 0;
    left: 0;
  }
  .awards {
    margin-top: 1.5rem;
    background-color: rgba($primary, 0.1);
    border: 1px solid rgba($primary, 0.4);
    padding: 1.5rem 1.5rem 1rem;
    border-radius: 0.3rem;
    figcaption {
      margin-top: 0.7rem;
    }
  }
}

.faq {
  background-color: rgba($primary, 0.05);
  padding: var(--common-space) 0;
  @include responsive(min992) {
    padding: var(--common-space-xl) 0;
  }
  .h1 {
    span {
      display: block;
    }
    @include responsive(max767) {
      border-bottom: 1px solid rgba($primary, 0.1);
      padding-bottom: 1rem;
    }
  }

  .accordion {
    --bs-accordion-bg: none;
    :global {
      .accordion-button {
        padding: var(--bs-accordion-btn-padding-y) 0;
        font-size: 1.1rem;
        font-weight: 600;
        &:focus {
          box-shadow: none;
        }
        &:not(.collapsed) {
          // color: inherit;
          background-color: transparent;
          box-shadow: none;
        }
      }

      .accordion-item {
        border: none;
        border-bottom: solid var(--bs-accordion-border-width) var(--bs-accordion-border-color);
      }
      .accordion-body {
        padding: 0 0 var(--bs-accordion-body-padding-y);
      }
    }
  }
}

.question {
  margin-top: calc(var(--common-space-xl) * 1.5);
  margin-bottom: var(--common-space);
  background-color: $white;
  border-radius: 1rem;
  border: 1px solid rgba($primary, 0.1);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  @include responsive(min768) {
    text-align: inherit;
    flex-wrap: nowrap;
  }
  &__left {
    @include responsive(max767) {
      padding: 1rem;
      flex: 1 1 100%;
    }
    flex: 1 1 55%;
    img {
      max-height: 350px;
      object-fit: contain;
      object-position: left bottom;
    }
    @include responsive(min576) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  &__right {
    flex: 1 1 45%;
    padding: 1rem;
    align-self: center;
  }
}