@import '../scss/common/variables';
@import '../scss/common/mixins';
.section {
  margin-top: 3rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
}
.ads {
  display: flex;
  flex-direction: column;
  @include responsive(min768) {
    flex-direction: row;
  }
  border: 1px solid rgba($primary, 0.3);

  // overflow: hidden;
  border-radius: 0.5rem;
  position: relative;
  img {
    padding: 0.5rem;
    margin: 0 auto;
    @include responsive(min768) {
      width: 200px;
      padding: 2rem;
      flex: 1 1 20%;
    }
  }
  box-shadow: 0 0 1rem 0rem rgba($primary, 0.3);
  &:hover {
    box-shadow: 0 0 0.4rem 0.1rem rgba($primary, 0.3);
  }
  &__right {
    border-top: 1px solid rgba($primary, 0.3);
    @include responsive(min768) {
      border-left: 1px solid rgba($primary, 0.3);
      border-top: none;
    }
    padding: 1.5rem;
    ul {
      // flex: 1 1 75%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      font-size: 0.85rem;
      @include responsive(min640) {
        font-size: inherit;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      // justify-content: center;
    }
    li {
      flex: 1 1 calc(50% - 1rem);
      padding-left: 1.5rem;
      &::before {
        float: left;
        display: block;
        margin-left: -1.5rem;
        content: '\2713';
        margin-top: 0.1rem;
      }
    }
    .btn {
      /* position: absolute;
      right: 1.5rem;
      top: 50%;
      transform: translateY(-50%); */
      // display: inline-block;
      margin-top: 1rem;
    }
    .h2,
    h2 {
      color: $primary;
      // border-bottom: 1px solid rgba($primary, 0.3);
      padding-bottom: 0.3rem;
      // font-size: 2.2rem;
      small {
        text-transform: uppercase;
        display: block;
        color: var(--bs-gray-700);
        font-size: 1rem;
      }
    }
  }
}
