@import './common/variables';
@import './common/mixins';
.wrapper {
  top:0;
  background-color: $white;
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  .img-control {
    width: auto;
    height: auto;
    max-width: 100%;
  }
}
body:has(.wrapper) {
  max-width: 100%;
  max-height: 100vw;
  overflow: hidden;
}
