@import './common/variables';
@import './common/mixins';
.root {
  margin-top: 1rem;
}

.bannerLeft {
  @include responsive-max(md) {
    margin-bottom: 1.5rem;
  }
}

.banner {
  max-width: 100%;
  width: 100%;
  height: auto;
  @include responsive-min(md) {
    height: 305px;
  }
  border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0;
}

.qrContainer {
  position: sticky;
  top: 100px;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: var(--border-theme);
  box-shadow: var(--shadow-theme);
  border: 1px solid rgba($primary, 0.2);
  text-align: center;
}
.banks {
  margin-bottom: 1.7rem;
  figure {
    background-color: $white;
    border: 1px solid rgba($primary, 0.2);
    border-radius: var(--border-theme);
    padding: 0.5rem;
    text-align: center;
    figcaption {
      font-size: 0.875rem;
      margin-top: 0.5rem;
      // color: $gray-600;
      color: rgba($black, 0.5);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  img {
    max-width: 100%;
    height: 50px;
  }
}

.banksSlider {
  position: relative;
  :global {
    @extend %next-prev-decoration;
    .swiper-button-prev,
    .swiper-button-next {
      top: 60%;
      transform: translateY(-50%);
    }
    .swiper-button-prev {
      left: 0.2rem;
    }
  }
}

.bankContent {
  ul {
    list-style: disc;
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
}