@import './common/variables';
@import './common/mixins';
.root {
  position: relative;
}

.bannerSection {
  position: relative;
}

.bg {
  position: absolute;
  top: 35%;
  right: 0;
  overflow: hidden;
  img {
    position: relative;
    right: -50%;
  }
}

.banner {
  height: 400px;
  @include responsive(min768) {
    height: 550px;
  }
  position: relative;
  .bannerImage {
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba($white, 0.1);
    z-index: 1;
  }
}

.homeSearch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  .h1 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .inner {
    position: relative;
    background-color: rgba($body-color, 0.2);
    padding: var(--common-space);
    border-radius: 0.5rem;
  }
}

.popularSection {
  @include homeBased;
  padding-block-start: 2.5rem;
  @include responsive(min992) {
    padding-block-start: 4rem;
  }
  .heading {
    margin-bottom: 2rem;
    text-align: center;
  }
}
.placeContainer {
  border-radius: 1rem;
  padding: 2.5rem 1.5rem;
  border: 1px solid rgba($primary, 0.1);
  background-color: rgba($primary, 0.03);
  @include responsive-max(lg) {
    margin-bottom: 2rem;
  }
  .iconBox {
    position: relative;
    margin-bottom: 1rem;
    text-align: center;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100px;
      height: 100px;
      background-color: rgba($primary, 0.1);
      z-index: 1;
      border-radius: var(--radius-vmax);
      left: 50%;
      transform: translate(-60%);
    }
  }
  .placeSeparator {
    border-top: 1px solid rgba($primary, 0.1);
    padding-block-start: 1rem;
    margin-block-start: 1rem;
  }
}
.swiperContainer {
  :global {
    @extend %next-prev-decoration;
    .swiper-button-prev,
    .swiper-button-next {
      top: 40%;
    }
    .swiper-button-prev {
      left: 0.2rem;
    }
  }
}

.demandSection {
  background-color: rgba($primary, 0.09);
  @include homeBased;
  margin-top: 2.5rem;
  padding-block: 2.5rem;
  @include responsive(min992) {
    margin-top: 4rem;
    padding-block: 4rem;
  }
}

.categories {
  background-color: rgba($primary, 0.09);
  margin-block-start: 2rem;
  padding-block: 3rem;
  @include responsive-min(lg) {
    padding-block: 4rem;
    margin-block-start: 4rem;
  }
  .categoriesLeft {
    border: rgba($primary, 0.2) solid 1px;
    border-radius: 1rem;
    padding: 1.5rem;
    @include responsive-max(lg) {
      margin-bottom: 2.5rem;
    }
    @include responsive-min(lg) {
      padding: 2.5rem;
      min-height: 100%;
    }
  }
  .swiperContainer {
    :global {
      .swiper-button-prev,
      .swiper-button-next {
        top: 50%;
      }
    }
  }
}

/* Each card */
.card {
  position: relative;
  height: 420px;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;

  .thumbImg {
    transition: transform 0.3s ease;
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &:hover {
    .thumbImg {
      transform: scale(1.03);
    }
  }
}

.cardOverlay {
  position: absolute;
  inset: 0;
  padding: 26px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: $white;
  background: linear-gradient(to top, rgba($black, 0.75), rgba($black, 0.25), rgba($black, 0));
  z-index: 2;
  a {
    // color
    color: $white;
  }
}

/* Title */
.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 6px;
}

/* Description */
.desc {
  font-size: 14px;
  line-height: 1.5;
  max-width: 85%;
  opacity: 0.9;
}

/* Arrow icon */
.arrow {
  /* position: absolute;
  right: 22px;
  bottom: 20px;
  font-size: 26px;
  font-weight: bold; */
}

.topProjectContent {
  @include homeBased;
  padding: 2.5rem 0;
  @include responsive(min992) {
    padding: 4rem 0 2.5rem;
  }

  :global {
    .swiper-slide {
      width: 90%;
      @include responsive(min640) {
        width: inherit;
      }
    }
  }
  .bigThumb {
    position: relative;
    border-radius: var(--border-theme);
    background-color: $white;
    border: 1px solid rgba($primary, 0.1);
    img {
      // height: 280px;
      @include responsive(min992) {
        height: 400px;
      }
    }
    .offers {
      @extend %offer-short;
    }
    figcaption {
      padding: 1.2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h4 {
        font-size: 1.1rem;
        @include responsive(min992) {
          font-size: 1.2rem;
        }
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      @include responsive(min768) {
        flex-wrap: nowrap;
      }
      font-size: 0.9rem;
      li {
        white-space: nowrap;
        margin-bottom: 0.5rem;
        svg {
          vertical-align: middle;
          color: rgba($body-color, 0.8);
        }
        &:not(:last-child) {
          border-right: 1px solid rgba($primary, 0.2);
          padding-right: 0.5rem;
        }
        &:not(:first-child) {
          padding-left: 0.5rem;
        }
        &:last-child {
          padding-left: 0;
          @media (min-width: 430px) {
            padding-left: 0.5rem;
          }
        }
      }
      li {
        white-space: nowrap;
        margin-bottom: 0.5rem;
        svg {
          vertical-align: middle;
          color: rgba($body-color, 0.8);
        }
        &:not(:last-child) {
          border-right: 1px solid rgba($primary, 0.2);
          padding-right: 0.5rem;
        }
        &:not(:first-child) {
          padding-left: 0.5rem;
        }
        &:last-child {
          padding-left: 0;
          @media (min-width: 430px) {
            padding-left: 0.5rem;
          }
        }
      }
    }
    &:hover {
      box-shadow: 0px 24px 24px -12px rgba($primary, 0.2);
    }
  }
  .thumb {
    position: relative;
    img {
      border-radius: var(--border-theme) var(--border-theme) 0 0;
    }
    &::before {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 60%;
      content: '';
      z-index: 1;
      background: linear-gradient(0deg, rgba($black, 1) 0%, rgba($black, 0) 100%);
    }
  }
  :global {
    .price {
      margin-top: 0.5rem;
      margin-right: 0.5rem;
      @extend %price;
    }
  }
}
.viewProjects {
  width: 2rem;
  height: 2rem;
  border-radius: var(--radius-vmax);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba($primary, 0.2);
  color: $primary;
  &:hover {
    box-shadow: 0 3px 0 0 rgba($primary, 0.3);
  }
}

.featureProject {
  @include homeBased;
  @include responsive(min992) {
    padding-top: 4rem;
  }
  :global {
    .swiper-slide {
      width: 90%;
      @include responsive(min640) {
        width: inherit;
        height: auto;
      }
    }
    .list {
      @extend %projectItems;
      .price {
        @extend %price;
      }
    }
  }
}

.featureCollection {
  @include homeBased;
  padding-top: 2.5rem;
  @include responsive(min992) {
    padding-top: 4rem;
  }
  :global {
    .swiper-slide {
      width: 90%;
      @include responsive(min640) {
        width: inherit;
      }
    }
  }
  .list {
    position: relative;
    border-radius: var(--border-theme);
    overflow: hidden;
    a {
      color: inherit;
    }
    figcaption {
      z-index: 1;
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba($black, 0.6);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      padding: 1rem;
      text-align: center;
      color: $white;
      p {
        margin-bottom: 0;
        font-size: 0.8rem;
        color: rgba($white, 0.7);
      }
    }
    img {
      transition: all 0.3s ease;
      @include responsive(min640) {
        height: 250px;
      }
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}

.developers {
  @include homeBased;
  padding-block-start: 2.5rem;
  @include responsive(min992) {
    padding-block-start: 4rem;
  }
  :global {
    .swiper-slide {
      width: 130px;
      @include responsive(min640) {
        width: inherit;
      }
    }
    .items {
      border: 1px solid rgba($primary, 0.2);
      text-align: center;
      padding: 1rem;
      border-radius: var(--border-theme);
      img {
        height: 45px;
      }
    }
    .btn-custom {
      margin-top: 1.5rem;
    }
  }

  .developerWrapper {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-bottom: 1rem;
    @include responsive-min(sm) {
      align-items: flex-end;
      flex-direction: row;
    }
  }

  .iconWrapper {
    position: relative;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bgCircle {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    border-radius: 50%;
    z-index: 1;
  }

  .icon {
    position: relative;
    z-index: 2;
    object-fit: contain;
  }

  .title {
    font-size: 28px;
    font-weight: 600;
    color: #000;
  }

  .subtitle {
    font-size: 16px;
    color: #666;
  }
}
.developerContainer {
  border: rgba($primary, 0.2) solid 1px;
  padding: 2rem 1.5rem;
  border-radius: 1rem;
}

.news {
  @include homeBased;
  padding-top: 2.5rem;
  @include responsive(min992) {
    padding-top: 4rem;
  }
  :global {
    .swiper-slide {
      width: 80%;
      @include responsive(min640) {
        width: inherit;
      }
    }
    .news__item {
      position: relative;
      border: 1px solid rgba($primary, 0.2);
      border-radius: var(--border-theme);
      overflow: hidden;
      min-height: 310px;
      img {
        width: 100%;
      }
      figcaption {
        padding: 1rem;
        p {
          margin-top: 1rem;
        }
        h4 {
          font-weight: var(--font-bold);
          font-size: var(--heading-font);
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          line-clamp: 2;
          -webkit-line-clamp: 2;
          @include responsive(min768) {
            font-size: 1.2rem;
          }
          a {
            color: inherit;
            &:hover {
              color: $primary;
            }
          }
        }
        .btn-custom {
          display: none !important;
        }
      }
    }
    .btn-custom {
      margin-top: 1.5rem;
    }
  }
}

.testimonials {
  @include homeBased;
  padding-top: 2.5rem;
  @include responsive(min992) {
    padding: 4rem 0 1.5rem;
  }
  &__bg {
    border-radius: var(--border-theme);
    margin-top: 1rem;
    border: 1px solid rgba($primary, 0.2);
    position: relative;
    overflow: hidden;
    .leftBg,
    .rightBg {
      position: absolute;
      width: 400px;
      height: 400px;
    }
    .leftBg {
      transform: rotate(340deg);
      top: -5rem;
      left: -11rem;
    }
    .rightBg {
      transform: rotate(186deg);
      bottom: -7rem;
      right: -9rem;
    }
  }
  .items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    padding: 2rem 2.5rem;
    p {
      margin-right: 0;
    }
    @include responsive(min768) {
      padding: 7rem 8rem;
      flex-wrap: inherit;
    }
    .thumbs {
      align-self: flex-start;
      flex: 0 0 6rem;
      margin-bottom: 1rem;
      img {
        height: 6rem;
        width: 6rem;
        border-radius: var(--radius-vmax);
        display: block;
      }
    }
    .right {
      .location {
        margin-bottom: 1.5rem;
      }
    }
  }
}
.swiperCustomControl {
  :global {
    @extend %next-prev-decoration;
    .swiper-pagination-bullet {
      width: 1.5rem;
      border-radius: 0.3rem;
      &-active {
        width: 2.5rem;
        background-color: $primary;
      }
    }
  }
}
