@import './common/variables';
@import './common/mixins';

.qrContainer {
  position: sticky;
  top: 100px;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: var(--border-theme);
  box-shadow: var(--shadow-theme);
  border: 1px solid rgba($primary, 0.2);
  text-align: center;
}
.banks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  figure {
    background-color: $white;
    border: 1px solid rgba($primary, 0.2);
    border-radius: var(--border-theme);
    padding: 0.5rem;
    text-align: center;
    figcaption {
      font-size: 0.875rem;
      margin-top: 0.5rem;
      // color: $gray-600;
      color: rgba($black, 0.5);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
