$primary: #643484;
$secondary: #e55424;
$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
) !default;

$body-color: #212529;
$white: #fff;
$black: #000;
$light: #f7f7f7;
$link-color: #0d6efd;
// $table-striped-bg: rgba($primary, 0.2);
$themeColor: #643484;
